/* FUNCTIONS */
/* VARIABLES */
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Open Sans";
  font-weight: 300;
  color: #fff;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  background: url("../img/slide1.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
/* =============================================================================
Global elements
========================================================================== */
.inline-block {
  display: inline-block;
}
.none {
  display: none !important;
}
.dtable {
  display: table;
}
.dtcell {
  display: table-cell;
  vertical-align: middle;
}
.invisible {
  visibility: hidden;
  opacity: 0 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
  filter: alpha(opacity=0) !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.visible {
  visibility: visible !important;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  display: block;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.fleft {
  float: left !important;
}
.fright {
  float: right !important;
}
.vat {
  vertical-align: top !important;
}
.vam {
  vertical-align: middle !important;
}
.vab {
  vertical-align: bottom !important;
}
.tac {
  text-align: center !important;
}
.tar {
  text-align: right !important;
}
.not_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*=========================================
All elements
==========================================*/
.wrapper {
  position: relative;
}
.min_width {
  position: relative;
  max-width: 1024px;
  min-width: 1024px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 40px;
}
h2 {
  padding-top: 10px;
}
form {
  display: inline-block;
  margin-top: 10px;
}
input {
  padding: 10px;
}
ul li {
  list-style: none;
}
.tracker {
  margin-top: 10px;
}
.tracker input {
  font-size: 22px;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  padding: 10px;
  font-family: "Open Sans";
  font-weight: 300;
  transition: all 300ms;
  border: 0;
  border-left: 1px solid #9c9c9c;
}
.tracker input:focus,
.tracker input:hover {
  outline: none;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.tracker-holder {
  position: relative;
  margin-top: 80px;
  text-align: center;
}
.caption {
  float: left;
  width: 600px;
}
.time {
  float: left;
  width: 205px;
}
.controls {
  position: relative;
  float: left;
  width: 175px;
}
.controls .button {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms;
}
.timer {
  padding: 0;
  height: 0;
  transition: all 300ms;
  margin-left: 60px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.item {
  float: left;
  background: url("../img/countdown-tic.png") no-repeat scroll right center;
  margin-right: 30px;
  padding-right: 30px;
}
.item:last-child {
  background: none;
}
.number {
  font-size: 60px;
}
.word {
  font-size: 18px;
  margin-left: 5px;
}
.tasks-list-holder {
  margin-bottom: 60px;
}
.tasks-list {
  margin: 10px 0;
  font-size: 0;
}
.tasks-list li {
  position: relative;
  transition: all 300ms;
  background: rgba(255,255,255,0.1);
}
.tasks-list li:hover {
  background: rgba(255,255,255,0.4);
}
.tasks-list li:last-child .resume,
.tasks-list li:last-child input {
  border-bottom: 0;
}
.tasks-list input {
  font-family: "Open Sans";
  font-weight: 300;
  color: #fff;
  background: none;
  border: 0;
  text-align: left;
  font-size: 16px;
  vertical-align: bottom;
  float: none;
  border-bottom: 1px solid #c0c0c0;
  line-height: 40px;
  display: inline-block;
  padding: 0;
}
.tasks-list input:focus {
  outline: none;
}
.tasks-list .resume {
  line-height: 40px;
  display: inline-block;
  background: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #c0c0c0;
  font-size: 20px;
}
.tasks-list .resume:hover {
  background: #c0c0c0;
}
.tasks-list .caption {
  max-width: 600px;
  overflow: hidden;
}
.button {
  cursor: pointer;
  border: 0;
  transition: all 300ms;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  background: #6ea320;
}
.button:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.resume {
  width: 160px;
}
.save {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #8b8b8b;
  visibility: hidden;
}
.remove {
  float: right;
  font-size: 16px;
  line-height: 20px;
  background: #cf0000;
  padding: 10px;
  margin-right: 29px;
}
.stop {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  background: #cf0000;
}
.active-timer .timer {
  height: 80px;
  padding: 20px 0;
}
.active-timer .start {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
}
.active-timer .stop {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  visibility: visible;
}
.active-timer .tracker .time {
  width: 0;
  padding: 0;
}
.active-timer .tracker .caption {
  width: 825px;
}
.timer {
  display: inline-block;
}
.start-stop {
  transition: all 300ms;
  position: relative;
}
.manual {
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  position: absolute;
  top: 15px;
  right: 0;
}
.remove-holder {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  width: 100%;
  visibility: hidden;
  background: rgba(255,0,0,0);
}
.remove-holder .line {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 95%;
  height: 1px;
  border-top: 1px solid #5f5f5f;
}
.delete-event {
  position: absolute;
  right: -70px;
  cursor: pointer;
  top: 10px;
  font-size: 14px;
}
.delete-event:hover + .remove-holder {
  background: rgba(255,0,0,0.4);
  visibility: visible;
}
