@import 'nib'
/* FUNCTIONS */
clearfix()
  zoom 1
  &:before,
  &:after
    content ""
    display table
  &:after
    clear both
/* VARIABLES */
tdur        = 300ms
transition  = all tdur
radius      = 6px
html
  height 100%
body
  height 100%
  font-family "Open Sans"
  font-weight 300
  color #ffffff
  -webkit-font-smoothing subpixel-antialiased !important
  backface-visibility hidden
  background url(../img/slide1.jpg) no-repeat center fixed
  background-size cover
  clearfix()
h1,h2,ul
  margin 0
  padding 0
/* =============================================================================
Global elements
========================================================================== */
.inline-block
  display inline-block
.none
  display none !important
.dtable
  display table
.dtcell
  display table-cell
  vertical-align middle
.invisible
  visibility hidden
  opacity 0 !important
.hidden
  display none !important
  visibility hidden !important
.visible
  visibility visible !important
  opacity 0.9
.clear
  clear both
  height 0
  font-size 0
  line-height 0
  overflow hidden
  display block
.clearfix
  zoom 1
  &:before,
  &:after
    content ""
    display table
  &:after
    clear both

.fleft
  float left !important
.fright
  float right !important

.vat
  vertical-align top !important
.vam
  vertical-align middle !important
.vab
  vertical-align bottom !important

.tac
  text-align center !important
.tar
  text-align right !important

.not_select
  user-select none
/*=========================================
All elements
==========================================*/
.wrapper
  position relative
.min_width
  position relative
  max-width 1024px
  min-width 1024px
  margin 0 auto
h1
  text-align center
  font-size 40px
h2
  padding-top 10px
form
  display inline-block
  margin-top 10px
input
  padding 10px
ul
  li
    list-style none
.tracker
  margin-top 10px
  input
    font-size 22px
    opacity 0.6
    padding 10px
    font-family "Open Sans"
    font-weight 300
    transition transition
    border 0
    border-left 1px solid #9c9c9c
    &:focus,
    &:hover
      outline none
      opacity 0.8
.tracker-holder
  position relative
  margin-top 80px
  text-align center
.caption
  float left
  width 600px
.time
  float left
  width 205px
.controls
  position relative
  float left
  width 175px
  .button
    width 100%
    position absolute
    top 0
    left 0
    transition transition
.timer
  padding 0
  height 0
  transition transition
  margin-left 60px
  position relative
  display inline-block
  overflow hidden
.item
  float left
  background url(../img/countdown-tic.png) no-repeat scroll right center
  margin-right 30px
  padding-right 30px
  &:last-child
    background none
.number
  font-size 60px
.word
  font-size 18px
  margin-left 5px
.tasks-list-holder
  margin-bottom 60px
.tasks-list
  margin 10px 0
  font-size 0
  li
    position relative
    transition transition
    background rgba(255,255,255,0.1)
    &:hover
      background rgba(255,255,255,0.4)
    &:last-child
      .resume, input
        border-bottom 0
  input
    font-family "Open Sans"
    font-weight 300
    color #ffffff
    background none
    border 0
    text-align left
    font-size 16px
    vertical-align bottom
    float none
    border-bottom 1px solid #c0c0c0
    line-height 40px
    display inline-block
    padding 0
    &:focus
      outline none
  .resume
    line-height 40px
    display inline-block
    background none
    text-align center
    box-sizing border-box
    border-bottom 1px solid #c0c0c0
    font-size 20px
    &:hover
      background #c0c0c0
  .caption
    max-width 600px
    overflow hidden
.button
  cursor pointer
  border 0
  transition transition
  opacity 0.9
  font-size 22px
  line-height 50px
  text-align center
  background #6ea320
  &:hover
    opacity 1
.resume
  width 160px
.save
  position absolute
  top 0
  left 0
  width 100%
  background #8b8b8b
  visibility hidden
.remove
  float right
  font-size 16px
  line-height 20px
  background #cf0000
  padding 10px
  margin-right 29px
.stop
  opacity 0
  visibility hidden
  background #cf0000
.active-timer
  .timer
    height 80px
    padding 20px 0
  .start
    opacity 0
    visibility hidden
  .stop
    opacity 0.9
    visibility visible
  .tracker
    .time
      width 0
      padding 0
    .caption
      width 825px
.timer
  display inline-block
.start-stop
  transition transition
  position relative
.manual
  cursor pointer
  text-decoration underline
  font-size 14px
  position absolute
  top 15px
  right 0
.remove-holder
  position absolute
  top 0
  left 0
  height 100%
  z-index 1
  width 100%
  visibility hidden
  background rgba(255,0,0,0)
  .line
    position absolute
    left 20px
    top 20px
    width 95%
    height 1px
    border-top 1px solid #5f5f5f
.delete-event
  position absolute
  right -70px
  cursor pointer
  top 10px
  font-size 14px
  &:hover
    + .remove-holder
        background rgba(255,0,0,.4)
        visibility visible