@import 'nib'
/* FUNCTIONS */
clearfix()
  zoom 1
  &:before,
  &:after
    content ""
    display table
  &:after
    clear both
/* VARIABLES */
tdur        = 300ms
transition  = all tdur
radius      = 6px
html
  height 100%
body
  height 100%
  font-family "Open Sans"
  font-weight 300
  color #ffffff
  -webkit-font-smoothing subpixel-antialiased !important
  backface-visibility hidden
  background url(../img/slide1.jpg) no-repeat center fixed
  background-size cover
  clearfix()
h1,h2,ul
  margin 0
  padding 0

.services-holder
  li
    list-style none
    background #ffff00
    font-size 50px
    text-align center
    display inline-block
    vertical-align middle
    height 100px
    width 300px
.service-unit
  display none
  absolute top left
  width 100%
  text-align center
  background brown
  height 100%
  .title
    font-size 70px
    font-style italic
.close
  absolute right 30px top 30px
  width 50px
  height 50px
  background green
  color #fff
