<!DOCTYPE html>
<html ng-app="timeInterval" ng-controller="timeIntervalController">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{config.appTitle}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/normalize.css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/jquery.maskedinput.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-local-storage/angular-local-storage.min.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="modules/timeIntervalModule.js"></script>
    <script src="directives/maskedInputDirective.js"></script>
    <script src="controllers/timeIntervalController.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="min_width">
        <div class="tracker-holder" ng-class="activeTrackerClass">
            <h1>Time Tracker Application</h1>
            <span class="manual" ng-click="manualTask()">[Manually add event]</span>
            <div class="tracker clearfix">
                <input class="caption" type="text" ng-model="caption" placeholder="Enter caption of work"/>
                <input class="time" ng-readonly="readOnly" type="text"
                       ng-model="nowDate" ng-change="valueParser(nowDate,':',true)" placeholder="Time format: H:M:S"/>
                <div class="controls">
                    <div class="start-stop" ng-class="manualTaskTrackerClass">
                        <div class="button start" id="start" ng-click="startTimer()">Start</div>
                        <div class="button stop"  ng-click="stopTimer()">Stop</div>
                    </div>
                    <div class="button save" ng-click="saveTask()" ng-class="manualTaskSaveClass">Save</div>
                </div>
            </div>
            <div class="timer">
                <div class="item">
                    <span class="number">{{progressTime.hh}}</span>
                    <span class="word">Hours</span>
                </div>
                <div class="item">
                    <span class="number">{{progressTime.mm}}</span>
                    <span class="word">Minutes</span>
                </div>
                <div class="item">
                    <span class="number">{{progressTime.ss}}</span>
                    <span class="word">Seconds</span>
                </div>
            </div>
            <div class="tasks-list-holder">
                <h2>Completed Tasks</h2>
                <ul class="tasks-list">
                    <li ng-repeat="event in events" ng-init="completedEventCaption=event.caption; completedEventTime=event.hh + 'h ' + event.mm + 'm ' + event.ss + 's'">
                        <div class="delete-event" ng-click="deleteEvent($index)">Delete</div>
                        <div class="remove-holder"><div class="line"></div></div>
                        <input type="text" ng-change="updateTask(completedEventCaption,completedEventTime,$index)" ng-model="completedEventCaption" class="caption" />
                        <input type="text" ng-change="updateTask(completedEventCaption,completedEventTime,$index)" ng-model="completedEventTime" class="time" />
                        <div class="button resume" ng-click="resumeTask($index)">Resume</div>
                    </li>
                </ul>
                <div class="button remove" ng-click="removeEvents()">RemoveAll</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
